#landingpage{
  font-size: 30px;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  background-image: url("../images/backgrounds/landing.jpg");
<<<<<<< HEAD
=======
  font-size: 30px;
>>>>>>> gh-pages
}


#Partytime{
  padding: 20px;
  text-align: center;
  background-color: #F15A29;
  color:white;
}

#Happyhour{
  padding: 22px;
  color: black;
 text-align: center;
}

#breakfast {
  padding: 100px;
  background-repeat: no-repeat;
  color:white;
  text-align:center;
  background-image: url("../images/foodtop/breakfast.jpg");
}
#lunch {
  background-repeat: no-repeat;
  padding:100px;
  color:white;
  text-align: center;
  background-image: url("../images/foodtop/lunch.jpg");
}
#dinner {
  background-repeat: no-repeat;
  padding-bottom:200px;
  color:white;
  text-align: center;
  background-image: url("../images/foodtop/dinner.jpg");
}



.section6Anita{
background-image: url("../images/backgrounds/subscribe.jpg");
padding-bottom: 200px;
color: white;
background-repeat: no-repeat;

}
.section7Anita{
    background-color: #F15A29;
    color: white;
}
