#landingpage{
  font-size: 30px;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url("../images/backgrounds/landing.jpg");
<<<<<<< HEAD
=======
  font-size: 30px;
>>>>>>> gh-pages
}


#Partytime{
  padding: 20px;
  text-align: center;
  background-color: #F15A29;
  color:white;
}

#Happyhour{
  padding: 22px;
  color: black;
 text-align: center;
}

#breakfast {
  padding:100px;
  background-repeat: no-repeat;
  color:white;
  text-align:center;
  background-image: url("../images/foodtop/breakfast.jpg");
}
#lunch {
  background-repeat: no-repeat;
  padding:100px;
  color:white;
  text-align: center;
  background-image: url("../images/foodtop/lunch.jpg");
}
#dinner {
  background-repeat: no-repeat;
  padding-bottom:200px;
  color:white;
  text-align: center;
  background-image: url("../images/foodtop/dinner.jpg");
}

/*section3Anita styling*/
#fastFoodsImages,#drinksImages{
    border: 5px solid white;
    box-shadow: 0 0 30px #888888;
}

#fastFoodRow,#drinksRow {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

#fastFood1 {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;

}

#fastFood2{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;

}
#fastFoodButton,#drinksButton {
    background-color: white;
    text-align: center;
    color:  #F15A29;
    border: 2px solid  #F15A29;
}


#drinksImage1{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
}
#drinksImage2{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right:50px;
}

.section4Anita{
background-image: url("../images/backgrounds/foodsBg.jpg");
background-size: cover;
padding: 100px;
}

.container{
    padding: 30px;
    background-color: white;
    color: #F15A29;
}
.icon-next,.icon-prev,.nav-tabs>li>a{
    color: #F15A29;
}

/*removes that weird blue or gray color from the them*/
.carousel-control.left, .carousel-control.right {
   background-image:none
}


.section5Anita{
padding-left: 50px;
padding-right: 50px;
padding-top: 50px;
padding-bottom: 50px;
}

#customerTestimonialRow {
  box-shadow: 0 0 30px #888888;
  text-align: center;
}
#customerTestimonialRow h2{
    color: #F15A29;
}


#customerTestimonialColumn{
  border-right: 1px solid black;

}



.section6Anita{
background-image: url("../images/backgrounds/subscribe.jpg");
padding-bottom: 200px;
background-size: cover;
padding-top: 55px;
text-align: center;
color: white;
background-repeat: no-repeat;

}

#subscribeEmail{

  width: 400px;
}
#subscriptionButton{
  background-color: #F15A29;
  width: 220px;
}



.section7Anita{
    background-color: #F15A29;
    color: white;
    padding-left: 600px;
    padding-top: 25px;
    padding-bottom: 100px;
}

#menuFooter{
    float: left;
    padding-right: 10px;
}


#footerSlogan{
  padding-top: 35px;
}

#copyright{
    padding-top: 55px;
    padding-bottom: 20px;
}
